:root {
      --transition1: 0.3s all ease-in-out;
      --transition2: 0.4s all ease-in-out;
}

/*LNB*/
.nav_container {
      height: 100%;
      width: 108px;
      position: absolute;
      left: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background: none;
      z-index: 10000;
      transition: var(--transition2);

      .text,.indicator {
            visibility: hidden;
            opacity: 0;
      }

      &.active {
            width: 552px;
            background: linear-gradient(90deg, #000000 57.7%, rgba(0, 0, 0, 0.5) 79.51%, rgba(0, 0, 0, 0) 100%);

            .text {
                  visibility: visible;
                  opacity: 1;
            }

            .nav_item_container.active {
                  .indicator {
                        visibility: visible;
                        opacity: 1;
                  }
                  &::before {
                        width: 100%;
                        opacity: 1;
                        background: linear-gradient(90deg, rgba(238, 238, 238, 0.372481) 0%, rgba(238, 238, 238, 0) 100%);
                  }
            }
      }

      &.active+.contents_container {
            transform: translateX(220px);
            transition: var(--transition2);
      }
}

.contents_container {
      transform: translateX(0px);
      transition: var(--transition2);
}

.nav_item_container {
      position: relative;
      width: 360px;
      height: 96px;
      display: flex;
      align-items: center;
      padding: 0px 52px;
      box-sizing: border-box;

      &::before {
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            content: '';
            opacity: 0;
            transition: var(--transition1);
      }

      .text {
            font-weight: 500;
            font-size: 28px;
            color: #999999;
            margin-left: 26px;
      }

      .icon_container {
            position: relative;       
      }

      .icon_active {
            position: absolute;
            left: 0;
            opacity: 0;
      }

      .indicator {
            position: absolute;
            width: 24px;
            height: 4px;
            left: 25px;
            background: #EEEEEE;
            border-radius: 30px;
            transform: rotate(-90deg);
      }

      &[type="profile"] {
            .indicator {
                  display: none;
            }
      }

      &:nth-child(n+2) {
            .icon {
                  opacity: 0.5;
            }
      }

      &.active {
            .text {
                  font-weight: 700;
                  color: white;
            }

            .icon {
                  opacity: 0;
            }

            .icon_active {
                  opacity: 1;
            }
            
            .text,.indicator,.icon,.icon_active {
                  transition: var(--transition1);
            }
      }
}

.nav_item_container:nth-of-type(1) {
      margin-bottom: 144px;
      padding: 0 42px;
      .icon_active {
            left: -4px;
            top: -4px;
      }
}

.nav_item_container:nth-of-type(7) {
      margin-top: 76px;
}