.contents_module {
      display: flex;
      flex-direction: column;
      gap: 16px;
      font-weight: 500;
      font-size: 32px;
      line-height: 44px;
      color: #eeeeee;
      margin-left: 136px;
      transition-delay: 400ms;
      transition: 0.3s all ease-in-out;
}

.contents_module:nth-of-type(1) {
      margin-top: 36px;
}

.img_container {
      position: relative;
      display: grid;
      grid-auto-flow: column;
      gap: 32px;
      transition: 0.3s all ease-in-out;
}

.img_wrapper {
      position: relative;
      width: calc((1920px - (136px * 2) - (32px * 3)) / 4);
      /* width: calc((100vh - (136px * 2) - (32px * 3)) / 4); */
      height: 0;
      padding-top: 56.2%;
      /* border: 1px solid rgba(238, 238, 238, 0.2); */
      border-radius: 12px;
      overflow: hidden;
      transition: 0.3s all ease-in-out;
      box-shadow: 0px 0px 0px 1px  rgba(238, 238, 238, 0.2),
}

.img_wrapper.active {
      position: relative;
      transform: scale(1.03);
      visibility: visible;
      /* border: 4px solid #eeeeee; */
      border-radius: 12px;
      transition: 0.3s all ease-in-out;
      box-shadow: 0px 0px 0px 4px #eeeeee,0px 0px 60px 4px rgba(238, 238, 238, 0.66);
}

.img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
}

.postion_check_container {
      position: absolute;
      width: 100%;
      display: flex;
      justify-content: space-between;
}


.index_container {
      position: absolute;
      width: max-content;
      height: 36px;
      box-sizing: border-box;
      border-radius: 100px;
      background-color: rgba(238, 238, 238, 0.2);
      color: white;
      font-size: 18px;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 9px 14px;
      gap: 6px;
}

.index_container div {
      height: fit-content;
      display: flex;
      align-items: center;
      justify-content: center;
      line-height: 1;
      margin-top: 2px;
}

.whole_number {
      opacity: 0.3;
}

.index_container {
      visibility: hidden;
      opacity: 0;
      transition: 0.3s all;
}

.index_container.active {
      visibility: visible;
      opacity: 1;
      transition: 0.3s all;
}

/*FF 디자인 변경*/
.contents_module.fixed_focus {
      position: relative;
}

.focus_container {
      position: absolute;
      box-sizing: border-box;
      left: 0px;
      bottom: 0px;
      border-radius: 12px;
      box-shadow:
      0px 0px 0px 4px #eeeeee,
      0px 0px 60px 4px rgba(238, 238, 238, 0.66);
      /* transform: scale(1.03); */
      transition: 0.3s all ease-in-out;
      z-index: 100000;
      display: none;
}

.contents_module.fixed_focus .img_wrapper.active {
      border: 0px solid;
      box-shadow: none;
      transition: 0;
}